#time-text {
    margin: 0;
    padding-top: 10px;

}

.Countdown-col{
    display: inline-block;
}

.Countdown-col-element{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.Countdown-col-element strong{
    font-size: 50px;
}