.Pick-Players {
    text-align: center;
}

.Selecting {
    margin: 0 0 5px 0;
    font-size: large;
}

.Choose-Field-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Choose-Players-Container {
    display: flex;
    flex-direction: column;
}

.Filter-Players {
    display: flex;
    flex-direction: column;
}

.LB .Filter-Players {
    margin-left: 40px;
}

.Filter-Players input {
    width: 200px;
}

.Filter-Players-Sub {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
    justify-content: left;
}

.Left-Text {
    margin: 0;
    width: 120px;
    text-align: left;
}

.Best-Button {
    outline: none;
    background-color: ghostwhite;
    cursor: pointer;
    width: 100px;
    margin: 0 5px 0 0;
    font-size: medium;
    border: 1px solid black;
}

.Selected-Button {
    background-color: darkred !important;
    color: white;
}

.Field {
    height: 540px;
    width: 780px;
    background-image: url("../Images/AFLField.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    border: 3px solid black;
    margin-left: 40px;
    position: relative;
}

.Field-Button {
    position: absolute;
    color: white;
    font-size: large;
    width: 150px;
    outline: none;
    border-radius: 45px;
    border: 2px solid white;
    height: 40px;
}

.Field-Button:hover {
    transition: 0.4s ease;
    cursor: pointer;
    box-shadow: 0 0 5px 5px gold;
    border: 2px solid black;
}

.Field-Button:not(:hover) {
    transition: 0.4s ease;
    box-shadow: none;
    border: 2px solid white;
}

.Save-Button {
    top: 440px;
    left: 620px;
    background-color: darkred;
}

.Save-Button:hover {
}

.Save-Button:not(:hover) {
}


.Undo-Button {
    top: 490px;
    left: 620px;
    background-color: black;
}

.Undo-Button:hover {

}

.Undo-Button:not(:hover) {

}

.Saved {
    background-color: dimgrey;
}

.Saved:hover {
    cursor: default;
    box-shadow: none;
    border: 2px solid white;
}

.Undo {
    background-color: dimgrey;
}

.Undo:hover {
    cursor: default;
    box-shadow: none;
    border: 2px solid white;
}

