.LB table {
    width: 95%;
    text-align: left;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    border-collapse: collapse;
}

.LB th {
    background-color: darkred;
    border: 1px solid grey;
    color: white;
}

.LB tr, td {
    height: 50px;
    text-align: center;
}

.LB tr:nth-child(even) {
    background-color: #eee;
}

.LB tr:nth-child(odd) {
    background-color: #fff;
}

.Position-Wrapper {
    display: flex;
    flex-direction: column;
}

.Positions {
    display: flex;
    flex-direction: row;
    font-size: small;
    text-align: center;
    justify-content: center;
}

.Position-Title {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin: 0;
}

.Position-Text {
    border-top: none;
    width: 70px;
    height: 100%;
    margin: 0;
    padding-top: 5px;
}

.Score-Cell {
    width: 70px;
}

.Stat-Cells {
    font-size: small;
}

.LB {
    text-align: center;
}

.LB-Title {
    margin: 20px;
}

.Flex {
    display: flex;
    flex-direction: row;
}

.Flex-Col {
    display: flex;
    flex-direction: column;
}

.NW {
    white-space: nowrap;
}

.Round-Button {
    background-color: white;
    outline: none;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    width: 80px;
}

.Round-Button:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

.Page-Button {
    background-color: white;
    border: 2px solid transparent;
    outline: none;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
}

.Page-Button:hover {
    cursor: pointer;
    background-color: ghostwhite;
}

.Selected {
    border: 2px solid black;
}
