.View-League {
    text-align: center;
}

.View-League table {
    width: 95%;
    text-align: left;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    border-collapse: collapse;
}

.View-League th {
    background-color: darkred;
    border: 1px solid grey;
    color: white;
}

.View-League tr, td {
    height: 50px;
    text-align: center;
}

.View-League tr:nth-child(even) {
    background-color: #eee;
}

.View-League tr:nth-child(odd) {
    background-color: #fff;
}

.League-Display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Invites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.Invite-Row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    width: 100%;
}

.Invitation-Button {

}

.Join-Button {

}

.Decline-Button {

}

.Pop-Up {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 999;
    background-color: lightgray;
    border: 3px solid black;
    width: 80%;
    height: 70%;
    overflow: scroll;
    min-width: 1000px;
    min-height: 600px;
    margin: 0;
}

.Close-Pop-Up {
    background-color: transparent;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    top: 2px;
    left: calc(100% - 52px);
    width: 50px;
    z-index: 1000;
}

.Close-Pop-Up:hover {
    background-color: darkred;
    color: white;
    border: 2px solid white;
    transition: 0.4s ease;
}

.League-Button {
    background-color: white;
    border: 1px solid black;
    outline: none;
    width: 300px;
    height: 30px;
    font-size: 20px;
    margin: 5px 20px;
    font-family: "Orelega One", serif;
}

.League-Button:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

.View-League .Selected {
    background-color: darkred;
    color: white;
    cursor: default;
}

.Create-Button {
    width: 200px;
}

.League-List {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    height: 60%;
    overflow: scroll;
}

.League-Table {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    height: 60%;
    overflow: scroll;
}

.League-League-Button {
    background-color: transparent;
    border: 2px solid black;
    margin: 5px 0;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.League-League-Button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.League-Text {
    margin-left: 20px;
    width: 80%;
}

.Num-Users {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.Num-Users-Text {
    margin-right: 10px;
}

.Profile-Icon-Leagues {
    height: 25px;
    width: 25px;
}

.League-Table-Column-User:hover {
    text-decoration: underline;
    cursor: pointer;
}

.League-Button-Wrapper {
    display: flex;
}

.Your-League-Button-Wrapper {
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    width: 120px;
    max-height: 50px;
    min-height: 50px;
    font-family: "Orelega One", serif;
    font-size: medium;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 80%;
}

.Your-League-Button-Wrapper:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

.Invite-Text {
    margin-right: 10px;
}

.Your-League-Button {
    background-color: white;
    outline: none;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    width: 100px;
    height: 50px;
    font-family: "Orelega One", serif;
    font-size: medium;
}

.Invite-Button:hover {
    background-color: rgba(0, 255, 0, 0.4);
    cursor: pointer;
    transition: 0.4s;
}

.Invite-Button:not(:hover) {
    background-color: white;
    cursor: default;
    transition: 0.4s;
}

.Back-Button:hover {
    background-color: rgba(255, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.4s;
}

.Back-Button:not(:hover) {
    background-color: white;
    cursor: default;
    transition: 0.4s;
}

.Create-Button {
    width: 300px;
}

.Create-Button:hover {
    background-color: rgba(0, 255, 0, 0.4);
    cursor: pointer;
    transition: 0.4s;
}

.Create-Button:not(:hover) {
    background-color: white;
    cursor: default;
    transition: 0.4s;
}


