@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: 'Orelega One', serif;
    min-width: 1400px;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.App {

}

.App h1 {
    text-align: center;
}

.In-Login {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 1400px;
    min-height: 800px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.Highlight {
    background-color: gold;
}

.Not-Logged-In {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

